# OSX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Project
*.gem
.bundle
Gemfile.lock
pkg/*

# Ignore individual preferences
.rvmrc
.rbenv-version
vendor/bundle/*
